<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WeTalk - <%= room %></title>
	<link rel="stylesheet" href="/css/chatroomStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://widget.cloudinary.com/global/all.js"></script>
	<script>
		$(() => {
			let socket = io('<%= host %>' + '/chatter', {
				transports: ['websocket']
			});
			let roomID = '<%= roomID  %>';
			let user = '<%= user.fullName %>';
			let userPic = '<%= user.profilePic %>';
			let chatUsers = $('.chatUsers');
			let chatInput = $("input[name='userInput']");
			let chatMessagesDiv = $('.chatMessages');
			let filePicker = $('#uploadFile');

			let updateDialog = (userPic, message) => {
				let template = `				<div class="chatBlock">
					<div class="userPic"><img src="${userPic}"></div>
					<div class="chatMsg">${message}</div>
				</div>	`;
				$(template).hide().prependTo(chatMessagesDiv).slideDown(200);
			}

			socket.on('connect', () => {
				socket.emit('join', {
					roomID,
					user,
					userPic,
				});
			});

			let userList = user => {
				return `<div class="userBlock">
					<div class="userPic"><img src="${user.userPic}" alt="${user.user}"></div>
					<div class="cuserName">${user.user}</div>
				</div>`;
			};

			socket.on('updateUsersList', data => {
				let parsedData = JSON.parse(data);
				let usersListData = '';
				for(let user of parsedData) {
					usersListData += userList(user)
				}
				chatUsers.html('').html(usersListData);
			});

			chatInput.on('keyup', function(evt) {
				//traditional function
				//reason: need to access 'this' keyword
				//prevent the default enter key
				evt.preventDefault();

				let messageField = $(this);

				if(evt.which === 13 && messageField.val() !== '') {
					socket.emit('newMessage', {
						roomID,
						user,
						userPic,
						message: messageField.val()
					});
					//update the local feed 
					updateDialog(userPic, messageField.val());
					messageField.val('');
				}
			});

			socket.on('inMessage', data => {
				let parsedData = JSON.parse(data);
				updateDialog(parsedData.userPic, parsedData.message);
			});

			filePicker.on('click', function(evt) {
				cloudinary.openUploadWidget({
					cloud_name: 'dt0nrle24',
					upload_preset: 'onkpbdn4'
				}, (error, result) => {
					let imageMessage = '';
					for(let img of result) {
						imageMessage += `<img src="${img.url}">`;
					}
					updateDialog(userPic, imageMessage);

					socket.emit('newMessage', {
						roomID,
						user,
						userPic,
						message
					});
				});
			});

			//send location
			var locationButton = $('#sendLocation');

			locationButton.on('click', function() {
				if(!navigator.geolocation) {
					return alert('Geolocation not supported on your brower');
				}

				navigator.geolocation.getCurrentPosition(function(position) {
					var locationUrl = `https://www.google.com/maps?q=${position.coords.latitude},${position.coords.longitude}`
					var locationMessage = `<a target="_blank" href="${locationUrl}">My current Location</a>` 
					updateDialog(userPic, locationMessage);
					// console.log(position);
					socket.emit('newLocationMessage', {
						roomID,
						user,
						userPic,
						latitude: position.coords.latitude,
						longitude: position.coords.longitude
					}); 
				}, function() {
					alert('unable to fetch the location!')
				});
			});

		});
	</script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>WeTalk | Topic Goes Here</h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="<%= user.profilePic %>" alt="<%= user.fullName %>"></div>
			<p class="userName"><%= user.fullName %></p>
			<a href="/rooms" id="roomsBtn">Rooms</a>
			<a href="/logout" id="logOutBtn">Logout</a>
		</div>
		<div class="chatListDiv">
			<div class="chatMessagesPanel">
				<div class="chatMessages">
				<!-- Loop this for chat messages -->				
				<!-- loop end -->
				</div>
				<div class="typePanel">
					<input type="text" name="userInput" placeholder="Type here and press enter">
					<a href="#" id="uploadFile" class="fileUploadBtn">Photo</a>
					<a href="#" id="sendLocation" class="locationBtn">Location</a>
				</div>
			</div>
			<div class="chatUsers">
			<!-- Loop this for chat users -->
			<!-- loop end -->
			</div>
		</div>
	</div>
</body>
</html>